@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #f70505 16.62%, #f0b8ab 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabrcalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 52px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 1.4px solid white;
    gap: 52px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: white;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.foto {
    width: 250px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.redessociais {
    margin-top: 58px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin-bottom: 1.16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redessociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.400);
    box-sizing: border-box;
}

.redessociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
}
    
.rodape {
    padding: 32px;
    border-top: 1.4px solid white;
}

.rodape-email {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}